@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* -------------------------------------------- Background Headers */

.grey-background {
    background-color: #f1f1f1;
}

.white-background {
    background-color: white;
}

.turqoise-bg {
    background-color: #2abd9a;
}

/* -------------------------------------------- Typography */

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: "poppins", arial;
    color: #595959;
    text-align: center;
}


h3 {
    font-size: 18px;
    font-weight: 600;
}

.h1-section {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* -------------------------------------------- Header */

header {
    background: rgba(255, 255, 255, 0.9);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

#header #header-content {
    margin: 10px;
}

.logo {
    display: inline-block;
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.nav-center {
    display: inline-block;

}

.float-right {
    float: right;
    width: 100%
}


.nav-link {
    font-size: 16px;
    color: #595959;
    display: block;

    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav-active,
.nav-link:hover {
    color: #2abd9a;
}

.nav-item {
    padding-left: 30px;
}

.navbar-nav {
    width: 100%;
    display: inline-block;
}

/* nav */

/* -------------------------------------------- Banner */
.banner-image-container {
    background-image: url(../media-library/banner-image.jpg);
    min-height: 600px;
}

.banner-h1 {
    padding-top: 200px;
}

.banner-h1,
.banner-p {
    color: white;
}


/* -------------------------------------------- Latest Deals */
.deals-box-section {
    display: inline-block;
    max-width: 1200px;
}


.h1-deals-section {
    display: inline-block;
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 1200px;
}

.deals-box {
    background-color: white;
    width: 320px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer
}

.deals-image {
    padding-bottom: 20px;
}

.deals-box-h1 {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.deals-box-p {
    font-size: 14px;
    padding: 20px;
}

.deals-box-price {
    font-size: 14px;
    font-weight: 600
}

.deals-box-bottom-p {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding-top: 5px;
    margin-bottom: 0px;
}


.price-box {
    padding-top: 10px;
    padding-bottom: 10px;
}

.deals-section {
    padding-bottom: 100px;
}



/* -------------------------------------------- newsletter Subscription */
.image-background-newsletter {
    background-image: url("../media-library/newsletter-background.jpg");
    max-height: 400px;
    padding-bottom: 100px;
}

.newsletter-h1,
.newsletter-p {
    color: white;
}

#mc_embed_signup {
    clear: left;
    font: 14px "poppins", sans-serif;
    width: 100%;
    border-radius: 25px;
}

#mce-EMAIL {
    border-radius: 25px;
}



/* -------------------------------------------- Reviews Section */
.testimonials-section {
    padding-bottom: 50px;
    padding-top: 100px;
}


.reviews-section {
    max-width: 1920px;
    padding-bottom: 100px;
}

.reviews-box {
    max-width: 400px;
    display: inline-block;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    padding: 30px;

}

/* Map Section */

/* -------------------------------------------- Contact Header and Form */
.container-contact {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.full-name {
    margin-top: 20px;
    padding-left: 20px;
    width: 49%;
    height: 50px;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgba(71, 93, 123, 0.5);
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

.dream-experience {
    margin-top: 20px;
    padding-left: 20px;
    width: 98%;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgba(71, 93, 123, 0.5);
    font-family: "poppins", sans-serif;
    font-size: 16px;
    padding-top: 20px;
}

.submit-button {
    width: 30%;
    margin-top: 20px;
    margin-left: 0;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

/* Footer */

.contain {
    max-width: 1920px;
    margin: auto;
    text-align: center;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}



/* -------------------------------------------- Modals */
.modal {
    max-width: 100%;
    float: center;
}

.modal-contents {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
}

.close-button,
.close-button-moscow,
.close-button-sri-lanka {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: 500;
    padding-right: 20px;
}


.close-button:hover,
.close-button:focus,
.close-button-moscow:hover,
.close-button-moscow:focus,
.close-button-sri-lanka:hover,
.close-button-sri-lanka:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.mexico-modal-header {
    background-image: url(../media-library/mexico-popup.jpg);
    background-position: center, center;
    min-height: 230px;
    display: block;
}


.moscow-modal-header {
    background-image: url(../media-library/moscow-popup.jpg);
    background-position: center, center;
    min-height: 230px;
    display: block;
}


.srilanka-modal-header {
    background-image: url(../media-library/srilanka-popup.jpg);
    background-position: center, center;
    min-height: 230px;
    display: block;
}


.modal-p-container {
    padding: 20px;
}


.modal-h1 {
    color: white;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


.modal-p {
    text-align: left;
    padding-bottom: 10px;
}


.modal-lower-footer {
    display: block;
    border-top-width: 1px;
    border-color: #595959;
}


.modal-footer-bold {
    padding-bottom: 10px;
}




/* -------------------------------------------- Media Queries */
/* -------------------------------------------- Navigation media */
@media only screen and (max-width: 1920px) and (min-width: 1200px) {
    .nav-center {
        float: right;
    }
    nav {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1920px) {
    .float-right {
        padding-left: 380px;
        width: 100%;
    }
}

@media only screen and (max-width: 1900px) and (min-width: 1000px) {
    .float-right {
        padding-left: 150px;
        width: 100%;
    }
}


/* -------------------------------------------- Latest Deals Media */

@media only screen and (max-width: 1300px) and (min-width: 700px) {
    .deals-box,
    .deals-image,
    .reviews-box{
        width: 450px;
        margin-bottom: 20px;
    }
}



@media only screen and (max-width: 1200px) and (min-width: 700px) {
    .deals-box-section {
        
    }
}
